@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* common codes */
*{
    max-width: 1400px;
    margin:0 auto;
    
}

body{
    background-color: #3a3c3c;
    
}
/* Home developing */
.header{
  width: 100%;
  background-color: #343535;
  display: flex;
  justify-content: space-between;

  /* border-radius: 10px; */
  text-align: center;
  align-items: center;
  position:fixed;
  z-index: 1;
  
}

.header ul{
    display: flex;
    /* margin-left: -12px; */
    padding-left: 0px;
}

.header ul li{
    list-style: none;
    padding:20px;
    margin:10px;
   
}

.header ul li a{
    text-decoration: none;
    color: #ebebeb;
}
.header ul li a:hover
 {
    text-decoration: underline;
  }

.header h1{
    font-family: "Roboto", sans-serif;
    color: #D9643A;
    margin-right:60px
}

.header h1 span{
    color: white;
}


/* banner developing */

.banner{
    background-image: url("images/Business\ Meeting.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 700px;
    color: rgb(255, 255, 255);
}



.card{
    position: relative;
    top: 220px;
    
    width: 40%;
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-radius: 100px 0px 100px 0px ;
    padding: 3rem;
    
    background-color: #375166;
    opacity: .5;

   
    
    

    
}

.text-container{
    padding: 10px;
}

.text-container li{
    list-style: square;
}

.card h5{
    margin-top: 20px;
    font-size: 20px;
    
    
}

.card h1{
   font-size: 40px;
}



/* article section */

.article{
    display: flex;
        
    
}

.article-description{
    width: 50%;
    padding: 40px;
    background-color: rgb(192, 153, 116);
    border-radius: 20px;
    margin:10px 5px 5px 0;
    color: white;

}

.article-description h3{
    font-size: 50px;
}

.article-description p{
    padding-top: 20px;
    font-size: 30px;
}
.article-img{
    width: 50%;
    margin: 10px 0px 5px 5px;
}

.article-img img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
 
}

/* Service article section */

.service-header{
    font-size: 50px;
    padding: 30px;
    text-align: center;
    color: white;
}

.service-container{
    display: flex;
    background-color: #eeeded;
    border-radius: 20px;
    color: rgb(27, 26, 26);
    text-align: center;
    align-items: center;
    
}

.service-div{
    width: 50%;
    padding: 30px;

}

.service-img{
    width: 50%;
    padding: 30px;
}

.service-img img{
    width: 100%;
     border-radius: 20px;
}
.service-div h2{
     font-size: 40px;
     margin-bottom: 20px;
}
.service-div p{
 
  font-size: 20px;
  margin-bottom: 20px;
}

.service-div button{
    background-color: #343535;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}







/* responsive design */

/* for mobile device */

@media screen  and (max-width: 576px) {

    /* header responsive */
    .header{
        max-height: 500px;
        flex-direction: column-reverse;
        opacity: 1;
       
       }


    .header ul{
        display: block;
        padding-left: 0px;
        
        
    }

    .header h1{
        margin: 0 auto;
    }

    .header ul li a{
        text-decoration: underline;
    }

/* banner responsive */

.banner{
 background-image: none;



}
.banner ul{
    padding: 0px;
}
  .card{
    background-image: url('images/Business\ Meeting.png');
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 54%;
    left: 0%;
  
    width: 100%;
    border-radius:0px ;
    padding: 0px;
  
    
    text-align: center;
    align-items: center;

    /* opacity: .9; */


  }

  .card h1{
    font-size: 30px;
    padding: 20px;
    color:rgb(119 84 84);
    
    
    
 }

 .card h5{
    margin-top: 20px;
    font-size: 15px;
    color: rgb(169 119 119);
    
    
}

.text-container li{
    list-style: none;
}

.text-container{
    padding: 0px;
}
  



/* article responsive */
.article{
    display: block;
   
}

.article-description{
    width: 100%;
   text-align: center;
    padding:0px;
}
.article-img{
    width: 100%;
    margin: 0;
    padding: 0;
}

.article-description h3{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.article-description p{
    font-size: 20px;
}




/* service section responsive */
.service-header{
    display: none;
}

.service-container{
    display: block;
}
.service-container h2{
    color: white;
}
.service-img{
    width: 100%;
    padding: 0px;
}

}








/* for medium devices */


@media (min-width: 577px) and (max-width: 992px) {
/* header responsive */
.header h1{
    padding: 15px;
    margin: 0px;
}


/* banner responsize */
     .card{
        left: 0px;
        border-radius: 15px;
     }
  }

  /* article section responsive */
 /* artcle section responsive end */