@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* common codes */
*{
    max-width: 1400px;
    margin:0 auto;
    box-sizing: border-box;
   
    
}

body{
    background-color: #3a3c3c;
    
}
/* Home developing */
.header{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: #343535;
  
  

  /* border-radius: 10px; */
  text-align: center;
  align-items: center;
  position:fixed;
  z-index: 1;
  
}

.header ul{
    display: flex;
    margin-right:60px;
}

.header ul li{
    list-style: none;
    padding:20px;
    margin:10px;
   
}

.header ul li a{
    text-decoration: none;
    color: #ebebeb;
}
.header ul li a:hover
 {
    text-decoration: underline;
  }

.header h1{
    font-family: "Roboto", sans-serif;
    color: #D9643A;
    
    margin-left: 30px;
    padding-left: 0px;
}

.header h1 span{
    color: white;
}


/* banner developing */

.banner{
    background-image: url("images/Business\ Meeting.png");
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 100vh;
    width: 100vw;
    color: rgb(255, 255, 255);
}



.card{
    position: relative;
    top: 320px;
    
    width: 40%;
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-radius: 100px 0px 100px 0px ;
    padding: 3rem;
    
    background-color: #375166;
    opacity: .5;

   
    
    

    
}

.text-container{
    padding: 10px;
}

.text-container li{
    list-style: square;
}

.card h5{
    margin-top: 20px;
    font-size: 20px;
    
    
}

.card h1{
   font-size: 40px;
}



/* article section */

.article{
    display: flex;
    /* height: 30rem; */
        
    
}

.article-description{
   width: 50%;
   padding: 30px;
    background-color: rgb(192, 153, 116);
    border-radius: 0px 0px 0px 20px;
    margin:0px 5px 5px 0;
    align-content: center;

    
    

}

.article-description h3{
    font-size: 30px;
    color: #343535;
  
    padding: 20px;

    font-family: "Roboto", serif;
  font-weight: 800;
  font-style: normal;
    
}

.article-description p{
    padding: 20px;
    font-size: 20px;
    color:white;

    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.article-img{
    width: 50%;
    margin: 0px 0px 5px 0px;
}

.article-img img{
    border-radius: 0px 0px 20px 0px;
    width: 100%;
    height: 100%;
 
}

/* Service article section */

.service-header{
    font-size: 50px;
    padding: 30px;
    text-align: center;
    color: white;
    background-color: #343535;
    border-radius: 10px 10px 0px 0px;
}


.service-container{
    display: flex;
    background-color: #eeeded;
    border-radius: 20px;
    color: rgb(27, 26, 26);
    
    
}
.border-radius-4{
    border-radius: 0px 0px 20px 20px;
}

.service-div{
    width: 50%;
    padding: 30px;
    

}

.service-img{
    width: 50%;
    padding: 30px;
}

.service-img img{
    width: 100%;
    height: 30rem;
    border-radius: 20px;
}
.service-div h2{
     font-size: 40px;
     margin-bottom: 20px;

     font-family: "Roboto", serif;
  font-weight: 800;
  font-style: normal;
}
.service-div p{
 
  font-size: 20px;
  margin-bottom: 20px;

  font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.service-div button{
    background-color: #343535;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

/* service article-02 */

.margin{
    margin-top: 20px;
}

.flex-direction{
     display: flex;
     flex-direction: row-reverse;
}

.service-img .img-height{
   height: 30rem;
     
}

.background{
    background-color: #ecc79b;
    border-radius: 0px 20px 20px 0px;
    
}

/* .div-height{
      height: 26.6rem;
} */


.center-02{
    
    align-content: center;
}

.btn{
    text-align: right;
}

.padding{
    padding: 10px;
}

#border-radius-2{
    border-radius: 20px 0px 0px 20px;
}

.background-2{
    background-color: #ecc79b;
}

.border-radius-5{
    border-radius: 20px 20px 0px 0px;
}
/* service-03 and four also ended */

.btn-2{
    padding: 10px;
}
/* footer design */
.footer{
    background-color:#161616;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
  
    color: white;
}

.hr-style{
    width: 90%;
}

.hr{
    text-align: center;
    padding: 30px;
}

.copyright{
    color: white;
}

.business-info h1,.navigation h2,.social h2,.contact h2{
      margin-bottom: 20px;

      font-family: "Roboto", serif;
      font-weight: 800;
      font-style: normal;
}

.business-info p{
    font-size: 20px;

    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.contact p{
    font-size: 30px;

    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navigation ul{
    margin-left: -20px;
}
.navigation ul li{

list-style: none;
padding: 10px;
font-size: 20px;
}

.footer-copyright{
    text-align: center;
    padding: 10px 0px 20px 0px;    
}
.social{
    text-align: center;
}
.icon-color{
    color: white;
    font-size: 40px;
}
.social-icons i{
    margin-left: 5px;
}
.business-info{
    margin-left: 40px;
}

/* responsive design */

/* for mobile device */

@media screen  and (max-width: 576px) {

    *{
        box-sizing: border-box;
    }
    /* header responsive */
    .header{
        max-height: 700px;
        flex-direction: column-reverse;
        opacity: 1;
       
       }


    .header ul{
        display: block;
        /* padding-left: 0px; */
        margin: 0 auto;
        padding:0px;
        
        
    }

    .header h1{
        margin: 0 auto;
    }

    .header ul li a{
        text-decoration: underline;
    }

/* banner responsive */

.banner{
 background-image: none;



}
.banner ul{
    padding: 0px;
}
  .card{
    background-image: url('images/Business\ Meeting.png');
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 65%;
    left: 0%;
  
    width: 100%;
    border-radius:0px ;
    padding: 0px;
    margin-top: -80px;
  
    
    text-align: center;
    align-items: center;

    /* opacity: .9; */


  }

  .card h1{
    font-size: 30px;
    padding: 20px;
    color:rgb(119 84 84);
    
    
    
 }

 .card h5{
    margin-top: 20px;
    font-size: 15px;
    color: rgb(169 119 119);
    
    
}

.text-container li{
    list-style: none;
}

.text-container{
    padding: 0px;
}
  



/* article responsive */
.article{
    display: block;
    margin-top: -140px;
   
}

.article-description{
    width: 100%;
   text-align: center;
    padding:30px;
    border-radius: 0px 0px 20px 20px;
}
.article-img{
    width: 100%;
    margin: 0;
    padding: 0;
}

.article-description h3{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.article-description p{
    font-size: 20px;
}




/* service section responsive */
.service-header{
  
}

.service-container{
    display: block;
}
.service-container h2{
    color: #3a3c3c;
}
.service-img{
    width: 100%;
    padding: 0px;
}


.background{
    
    height: auto;
}

.center{
    padding: 0px;
    text-align: center;
}
.btn{
    text-align: center;
}

.width{
    width:100%
}

.border-radius{
    border-radius: 20px 20px 0 0;
}

.margin-2{
 margin-top: 0px;
 padding-top: 20px;
}
.padding-top{
    padding: 20px 0px 20px 0px;
}

.border-radius-small{
    border-radius: 0px 0px 10px 10px;
}

#border-radius-small-2{
    border-radius: 10px;

}

/* footer responsive */

.footer-container{
    grid-template-columns: 1fr;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
}
.footer-container h1{
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.footer-container p{
    font-size: 10px;
    width: 100%;
}

.navigation{
       margin-top: 10px;
}
.social{
    margin-bottom: 20px;
}
.social h2{
    text-decoration: underline;
}
.contact{
    text-align: center;
}
.contact p{
    font-size: 20px;
}
.business-info p{
  margin-left: -20px;
}
.navigation h2{
    display: none;
}
.navigation ul li{
    text-decoration: underline;
}
.navigation ul{
    margin-left: -40px;
}

}
/* for medium devices */


@media (min-width: 577px) and (max-width: 992px) {
/* header responsive */
.header h1{
    padding: 15px;
    margin: 0px;
}


/* banner responsize */
     .card{
        left: 0px;
        border-radius: 15px;
     }

}
  /* article section responsive */
 /* artcle section responsive end */